*{
    margin: 0%;
    font-family: 'Inter', sans-serif;
    
    }
    
    .section-1{
    display: flex;
    justify-content:space-evenly;
    background-color: black;
    color: white;
    width:85%;
    height:65% ;
    margin-left: 10%;
    margin-top:2%;
    border: 1px solid black;
    border-radius:10px;
    }
    
    .player{
    width: 50%;
    text-align: center;
    
    }
    
    .title-1{
    font-weight: bold;
    margin-top: 150px;
    margin-bottom:10%;
    }
    .img-banner{
    margin-top: 40px;
    margin-right: 50px;
    }
    

    
    button{
    background-color: brown;
    color: white;
    border: 1px solid brown;
    border-radius: 5px;
    margin-top: 20px;
    
    }



.box{
    height: 200px;
    width: 180px;
    background-color: black;
    color: white;
    border: 2px solid ;
    text-align: center;
    border-radius: 7px;
    margin-top: 30px;
    justify-content: space-evenly;
    }
    .inner-1{
    height: 40px;
    background-color: white;
    color: black;
    transform: scale(0.90);
    }
    
    
    .inner-2{
    
    width: 110px;
    height: 40px;
    background-color: white;
    color: black;
    transform: scale(.90);
    }
    .inner-3{
    width: 110px;
    height: 40px;
    background-color: red;
    color: white;
    transform: scale(.90);
    
    }
    .sec-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 50px;
    margin-left:30px;
}    

.flags{
height: 120px;
width: 250px;
border: 1px solid lightgray;
border-radius: 3px;
display: flex;
justify-content: center;
padding: 30px;
margin-top: 30px;
text-align: center;
}
.container{
display:grid;
grid-template-columns: repeat(3,1fr);
margin-left: 220px;
margin-bottom: 70px;
}






.nav-list{
    display: flex;
    justify-content: space-evenly;
}


footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-decoration-color: none;
    
}
    

@media only screen  and (min-width:688px){

.section-1{
grid-template-columns: repeat(1,1fr);




}


}

/* for ipad */


@media only screen and (min-width:689px) and (max-width:992px){

.sec-2{
grid-template-columns: repeat(1,1fr);
width: 100%;
display: flex;
justify-content:space-evenly; 


}
.container{
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}

}



